.container {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;  
}

.item {
    background-color: red;
    align-self: stretch;
    text-align: center;
    font-size: 24px;
    border: solid 2px;
}