body{
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    background-color: blueviolet;
    line-height: 22px;
}
h3{

    font-size: 18px;
    text-decoration:underline;
}
h2{
    font-weight: initial;
    text-decoration: overline;
}
p{
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}