body{
    background-color: #c7c7c7;
    box-sizing: border-box;
}
.titulo_navbar{
    width: 900px;
    padding: 0px;
    margin: 0;
    justify-content: flex-end;
}


.caixas{
    box-sizing: border-box;
    background-color: gray;
    justify-content: space-around;
    padding: 0px;
    text-align: center;
    height: 180px;
    border: solid 10px white; 
}

.foot{
    background-color: gray;
    height: 60px;
    padding: 0px;
    border: solid 10px white;
    text-align: center;
}